<h3>
Upgrading an existing TKL GitLab 14 running GitLab 8 to GitLab 10 or 11
</h3>

<p>
	I found <a href="https://www.turnkeylinux.org/gitlab">TKL GitLab</a> when I was poking around the available <a href="https://pve.proxmox.com/wiki/Linux_Container">Proxmox CT</a>. It only took a few minutes to install and by the next day, I was sold. <a href="https://about.gitlab.com/">GitLab</a> is very impressive and I am pushing to use it more at work. <a href="http://www.turnkeylinux.org">TKL</a> is also great, there is so much to choose from, I have only just begun to explore all they have to offer.</p>

<p>
	After a few months of using GitLab, I noticed there were features that I wanted and did not have in version 8-17-stable, the version that shipped with the container. I saw that TKL had released a new image and that it was offering GitLab 11. That&#39;s great! Time to upgrade. No! After chasing my tail around support forums, I have come to the conclusion that the official upgrade path offered by GitLab is not supported in the TKL image and that there does not seem to be an upgrade path offered by TKL.</p>

<p>
	The documentation for updating GitLab focuses on using the <a href="http://docs.gitlab.com/omnibus/">Omnibus</a>, it looks like a great admin tool that can do a great many things, including making upgrading easy. The TKL image of GitLab does not have it because Omnibus only supports PostgreSQL as the local DB service, TKL uses MySQL for the locale DB.&nbsp;</p>

<p>
	Without the aid of Omnibus, the only upgrade path available to me was&nbsp;<a href="https://docs.gitlab.com/ee/update/README.html#installation-from-source">Installation from source</a>. It looks straightforward at first, but <a href="http://gitlab.com/gitlab-org/gitlab-ce/tree/master/doc/update">every release</a> is documented as an incremental&nbsp;upgrade change iteration. This did not seem to bad at first, most of the steps in each release are very similar. And then the problems started. First with bugs in committed Gemfiles for ruby, and then with omissions&nbsp;in steps, it is not that simple. Each upgrade requires about 50% of the work from the official documentation and another 50% from workarounds that have been posted to support forums.</p>

<p>
	I found one forum post that recommended upgrading to the highest stable release of each major. I am trying to do that but there are some&nbsp;caveats with skipping over steps like the very first time installing gitaly, where later steps just assume you had already done that and now you just need to run checkout and make.</p>

<p>
	Running my GitLab as a CT (Container Template) in Proxmox gives me a lot of advantages.&nbsp;The first thing I did was clone the system, then I made a backup of the new system. I wrote scripts to restore the CT and I&nbsp;put all the steps in shell&nbsp;scripts and committed it all to a new project in the actual GitLab CT.</p>

<p>
	As I work through the issues of the upgrade path I am able to destroy, restore and upgrade the CT clone in just a few minutes.&nbsp;It is coming along and I hope to have a version 10 or 11 when done.</p>

<p>
	These scripts are not overly unique to my system. There are a few that are specific to Proxmox CT&#39;s and there are a few workarounds for custom changes that TKL made to the GitLab install. For the most part, my scripts&nbsp;are a collective sequence of steps as taken from the official upgrade documentation and the workarounds I am able to find in the forums.</p>

<p>
	&nbsp;</p>

<p>
	&nbsp;</p>
